# Исключить папки кеша Python
__pycache__/
*.py[cod]

# Файлы и папки настроек IDE
.idea/
.vscode/
*.sublime-*

# Файлы базы данных
db.sqlite3

# Системные файлы macOS
.DS_Store

# Лог-файлы и временные файлы
*.log
*.tmp